h2#title Scraper ##{scraper._id}
span#scraper-url
	a(href=scraper.url) #{scraper.url.replace(/http(|s):\/\//, "").slice(0,20)}...

div.scraper(id=scraper._id)
	textarea#code(name="code")
		#{scraper.code}

	iframe#result
		| !{scraper.html}
a(href="#run", id="run_code") run